html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  margin: 0;
  color: #1E184B;
  font-family: 'Overpass', sans-serif;
}

img {
  width: 100%;
}

header {
  top: 0;
  width: 100%;
  color: #FDC04F;
  font-family: 'Rhodium Libre', serif;
}

.hero-banner {
  width: 100%;
  height: 35em;
  background-color: #534E6B;
  background-image: url('https://images.unsplash.com/photo-1566262258598-53deb7089bf8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(83, 78, 107, .5);
}

header h1, header h2 {
  font-size: 2.844rem;
  margin: 0;
  margin-left: 1em;
  margin-top: 6em;
  z-index: 2;
}

header h2 {
  margin-top: -.25em;
}

.content-page-h1 {
  max-width: 8em;
  padding-right: 1em;
}

.wrapper {
  padding: 0 1em;
  max-width: 1400px;
  margin: 0 auto;
}

main h2, main h3 {
  font-family: 'Rhodium Libre', serif;
}

main h2 {
  font-size: 2.074rem;
}

main h3 {
  font-size: 1.728rem;
  margin-bottom: .1em;
}

section h3 + p {
  margin-top: 0em;
}

/* navigation here */

.nav-flex {
  display: none;
}

.nav-flex ul {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  list-style-type: none;
}

.nav-flex ul li a {
  text-decoration: none;
  color: #FDC04F;
  font-family: 'Rhodium Libre', serif;
  font-size: 1.2rem;
}

.nav-flex img {
  width: 4em;
}

/* hamburger menu toggle here */

.nav-toggle {
  display: none;
}

.hamb {
  height: 4em;
  background-color: #534E6B;
  display: flex;
  align-items: center;
}

.nav-toggle-label {
  cursor: pointer;
  padding: 1em;
}

.hamb-line {
  background: #FDC04F;
  display: block;
  height: 2px;
  position: relative;
  width: 30px;
}

.hamb-line::before, .hamb-line::after {
  background: #FDC04F;
  content: '';
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 10px;
}

.hamb-line::after {
  top: -10px;
}

/* hamburger checked here */

.nav-toggle:checked ~ .nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #534E6B;
  height: 12em;
}

.nav-toggle:checked ~ .hamb {
  padding-top: 2em;
  height: 0;
}

.nav-toggle:checked ~ .hamb .nav-toggle-label .hamb-line {
  background: transparent;
}

.nav-toggle:checked ~ .hamb .nav-toggle-label .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.nav-toggle:checked ~ .hamb .nav-toggle-label .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
  }

.nav-toggle:checked ~ hgroup {
  margin-top: -10em;
}

.nav-toggle:checked ~ .content-page-h1 {
  margin-top: 2.48em;
}


/* homepage here*/

#about {
  background-color: #F9D48E;
  padding-top: 2em;
}

#about img {
  object-fit: cover;
  max-height: 400px;
  margin-top: 1em;
  transform: translate(0, .5em);
}

#recent-articles {
  background-color: #E3E1EB;
  padding-top: 2em;
  padding-bottom: 3em;
}

#recent-articles h2 {
  margin-top: .5em;
}

#recent-articles dt {
  font-size: 1.728rem;
  margin-top: .5em;
}

#recent-articles dt a {
  text-decoration: none;
}

#recent-articles dt a:hover {
  text-decoration: underline;
}

#recent-articles dt a:visited {
  color: #534e6b;
}

#recent-articles dd {
  margin: 0;
}

#recent-articles p {
  margin-top: 1.5em;
  font-size: 1.44rem;
}

#recent-articles form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#recent-articles form input, #recent-articles form button {
  width: 100%;
  height: 4em;
  margin-top: 1em;
}

#recent-articles form input {
  background-color: #F5F5F5;
  border-color: #1E184B;
  border-width: 1px;
  padding-left: 1em;
}

#recent-articles form button {
  border: none;
  background-color: #FDC04F;
  cursor: pointer;
}


footer {
  background-color: #534e6b;
  color: #FDC04F;
  display: flex;
  justify-content: center;
  padding: 3em;
}


/* javascript here*/

.card-closed .closable {
  display: none;
}

.card-open .closable {
  display: block;
}







@media only screen and (min-width: 46em) {
  body {
    font-size: 18px;
  }

/* navigation here*/

  .hamb, .nav-toggle {
    display: none;
  }

  .nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #534E6B;
    height: 12em;
  }

  .nav-flex {
    justify-content: center;
  }

  .nav-flex ul {
    display: flex;
    flex-direction: row;
    margin-left: -5em;
  }

  .nav-flex ul li a {
    margin-left: 5em;
  }

  .nav-flex img {
    margin-left: 5em;
  }

  .hero-banner {
    height: 35em;
  }

/* header headings */

  header h1, header h2 {
    margin-top: 6em;
  }

  header h2 {
    margin-left: .3em;
  }

  header hgroup, .content-page-h1 {
    display: flex;
    margin-left: 3em;
  }

}

@media only screen and (min-width: 80em) {
  body {
    font-size: 20px;
    max-width: 2000px;
    margin: 0 auto;
  }

  header hgroup, .content-page-h1 {
    margin-left: 5em;
  }

  header h1, header h2 {
    margin-top: 8em;
  }

  .hero-banner {
    height: 38em;
  }


}
