html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  margin: 0;
  color: #1E184B;
  font-family: 'Overpass', sans-serif;
}

img {
  width: 100%;
}

header {
  top: 0;
  width: 100%;
  color: #FDC04F;
  font-family: 'Rhodium Libre', serif;
}

.hero-banner {
  width: 100%;
  height: 35em;
  background-color: #534E6B;
  background-image: url('https://images.unsplash.com/photo-1566262258598-53deb7089bf8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(83, 78, 107, .5);
}

header h1, header h2 {
  font-size: 2.844rem;
  margin: 0;
  margin-left: 1em;
  margin-top: 6em;
  z-index: 2;
}

header h2 {
  margin-top: -.25em;
}

.content-page-h1 {
  max-width: 8em;
  padding-right: 1em;
}

.wrapper {
  padding: 0 1em;
  margin: 0 auto;
}

main h2, main h3 {
  font-family: 'Rhodium Libre', serif;
}

main h2 {
  font-size: 2.074rem;
}

main h3 {
  font-size: 1.728rem;
  margin-bottom: .1em;
}

section h3 + p {
  margin-top: 0em;
}

/* navigation here */

.nav-flex {
  display: none;
}

.nav-flex ul {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  list-style-type: none;
}

.nav-flex ul li a {
  text-decoration: none;
  color: #FDC04F;
  font-family: 'Rhodium Libre', serif;
  font-size: 1.2rem;
}

.nav-flex img {
  width: 4em;
}

/* hamburger menu toggle here */

.nav-toggle {
  display: none;
}

.hamb {
  height: 4em;
  background-color: #534E6B;
  display: flex;
  align-items: center;
}

.nav-toggle-label {
  cursor: pointer;
  padding: 1em;
}

.hamb-line {
  background: #FDC04F;
  display: block;
  height: 2px;
  position: relative;
  width: 30px;
}

.hamb-line::before, .hamb-line::after {
  background: #FDC04F;
  content: '';
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 10px;
}

.hamb-line::after {
  top: -10px;
}

/* hamburger checked here */

.nav-toggle:checked ~ .nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #534E6B;
  height: 12em;
}

.nav-toggle:checked ~ .hamb {
  padding-top: 2em;
  height: 0;
}

.nav-toggle:checked ~ .hamb .nav-toggle-label .hamb-line {
  background: transparent;
}

.nav-toggle:checked ~ .hamb .nav-toggle-label .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.nav-toggle:checked ~ .hamb .nav-toggle-label .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
  }

.nav-toggle:checked ~ hgroup {
  margin-top: -10em;
}

.nav-toggle:checked ~ .content-page-h1 {
  margin-top: 2.48em;
}


/* homepage here*/

#about {
  background-color: #F9D48E;
  padding-top: 2em;
}

#about img {
  object-fit: cover;
  max-height: 400px;
  margin: 1em 0;
}

#recent-articles {
  background-color: #E3E1EB;
  padding-top: 2em;
  padding-bottom: 3em;
}

#recent-articles h2 {
  margin-top: .5em;
}

#recent-articles dt {
  font-size: 1.728rem;
  margin-top: 1em;
}

#recent-articles dt a {
  text-decoration: none;
}

#recent-articles dt a:hover {
  text-decoration: underline;
}

#recent-articles dt a:visited {
  color: #534e6b;
}

#recent-articles dd {
  margin: 0;
}

#recent-articles p {
  margin-top: 1.5em;
  font-size: 1.44rem;
}

#recent-articles form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#recent-articles form input, #recent-articles form button {
  width: 100%;
  height: 4em;
  margin-top: 1em;
  font-family: 'Overpass', sans-serif;
  color: #1E184B;
}

#recent-articles form input {
  background-color: #F5F5F5;
  border-color: #1E184B;
  border-width: 1px;
  padding-left: 1em;
}

#recent-articles form button {
  border: none;
  background-color: #FDC04F;
  cursor: pointer;
}

/* content pages here */

.yellow-background {
  background-color: #F9D48E;
  padding: .2em 0;
}

.card-closed, .card-open {
  background-color: #E3E1EB;
  padding: 2em 1em;
  margin: 1em auto;
}

.card-closed {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-open {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "h2"
    "img"
    "closable"
    "date"
    "button";
}

.card-open h2 {
  grid-area: h2;
}

.card-open img {
  grid-area: img;
}

.card-open .article-publication {
  grid-area: date;
}

.card-open .closable {
  grid-area: closable;
}

.card-open .readmoreless-button {
  grid-area: button;
}

.card-closed h2, .card-open h2 {
  margin: 0 0 .2em;
}

.card-open h2 {
  text-align: center;
}

.smaller-text {
  font-size: 1.44rem;
}

.card-closed img {
  height: 50vw;
  object-fit: cover;
}

.card-open img {
  height: 80vw;
  object-fit: cover;
}

.article-publication {
  font-size: 1.2rem;
}

.same-line {
  display: flex;
  flex-grow: 1;
  align-items: baseline;
}

.publication-info .same-line dt {
  font-size: 1.728rem;
  font-family: 'Rhodium Libre', serif;
}

.publication-info .same-line dd {
  margin-left: .3em;
  font-size: 1.2rem;
}

.readmoreless-button {
  background-color: #B8B3CC;
  color: #1E184B;
  font-family: 'Overpass', sans-serif;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: .7em 1em .5em;
}

.card-closed .readmoreless-button, .card-open .readmoreless-button {
  margin: 1em auto 0;
}


/* text page here */

#do-androids-dream-of-electric-sheep img {
  object-position: left top;
}

#foundation-and-earth img {
  object-position: right bottom;
}



footer {
  background-color: #534e6b;
  color: #FDC04F;
  display: flex;
  justify-content: center;
  padding: 3em;
}


/* javascript here*/

.card-closed .closable {
  display: none;
}

.card-open .closable {
  display: block;
}







@media only screen and (min-width: 46em) {
  body {
    font-size: 18px;
  }

/* navigation here*/

  .hamb, .nav-toggle {
    display: none;
  }

  .nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #534E6B;
    height: 12em;
  }

  .nav-flex {
    justify-content: center;
  }

  .nav-flex ul {
    display: flex;
    flex-direction: row;
    margin-left: -5em;
  }

  .nav-flex ul li a {
    margin-left: 5em;
  }

  .nav-flex img {
    margin-left: 5em;
  }

  .hero-banner {
    height: 35em;
  }

/* header headings */

  header h1, header h2 {
    margin-top: 6em;
  }

  header h2 {
    margin-left: .3em;
  }

  header hgroup, .content-page-h1 {
    display: flex;
    margin-left: 3em;
  }

/* homepage */

  #about img {
    max-height: 450px;
  }

  .grid-template-area {
    display: grid;
    grid-column-gap: 1em;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "define history"
      "img img";
  }

  .define-scifi {
    grid-area: define;
  }

  .scifi-history {
    grid-area: history;
  }

  .neon {
    grid-area: img;
  }

  .grid-column-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5em;
  }

  #recent-articles form {
    display: grid;
    grid-template-rows: 1fr 2fr;
  }



/* content pages here */

.yellow-background {
  padding: 0;
}

  .card-grid section {
    margin: 0;
  }

  .card-grid {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "open open"
      "closed1 closed2"
      "closed4 closed3"
      "closed5 .";
    }

  .card-open {
    grid-area: open;
  }

  .card-closed {
    grid-area: closed1 closed2 closed3 closed4 closed5;
  }

  .card-grid .card-closed img {
    height: 25vw;
  }

  .card-grid .card-open img {
    height: 50vw;
  }

  .cardr-text {
    font-size: 1.2rem;
  }

  .card-open h2 {
    font-size: 2.074rem;
  }

  .text-columns {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
  }

  .card-open {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas:
      "h2 h2"
      "img img"
      "closable closable"
      ". date"
      "button .";
  }


@media only screen and (min-width: 74em) {
  body {
    font-size: 20px;
    max-width: 1500px;
    margin: 0 auto;
  }

  header hgroup, .content-page-h1 {
    margin-left: 5em;
  }

  header h1, header h2 {
    margin-top: 8em;
  }

  .hero-banner {
    height: 38em;
  }



  /* homepage here */

  #recent-articles h2, #about h2{
    text-align: center;
    margin: 0;
  }

  #about h3, #about img {
    margin: 0;
  }

    .grid-template-area {
      display: grid;
      margin-top: 2em;
      padding-bottom: 1em;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "img define history";
    }

    #recent-articles dt, #recent-articles dl, #recent-articles p {
      margin: 0;
    }

    #recent-articles form input {
      margin-top: 0;
    }

    #recent-articles label, #recent-articles form button {
      margin-top: 1em;
    }

    .grid-column-3 {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr;
      margin-top: 2em;
    }

    .grid-column-2 {
      grid-column-gap: 0;
    }

    #recent-articles form {
      display: grid;
      grid-template-rows: 1fr 1fr;
    }



/* content pages here */


.card-grid {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "open open open open"
    "closed1 closed2 closed3 closed4"
    "closed5 . . .";
  }

  .card-grid .card-closed img {
    height: 15vw;
  }

  .card-grid .card-open img {
    height: 45vw;
  }

}
